<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206166890342-v18lre88uhmiaj6rkhfgsvtma2p4m342.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206166890342-v18lre88uhmiaj6rkhfgsvtma2p4m342</string>
	<key>API_KEY</key>
	<string>AIzaSyCAM2XiGqXEDhKAJOmGG5av4TXV4sYXmyM</string>
	<key>GCM_SENDER_ID</key>
	<string>206166890342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterpod</string>
	<key>PROJECT_ID</key>
	<string>fire-some</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-some.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206166890342:ios:3a6a3f1d14b4f40aac5aa7</string>
</dict>
</plist>